@keyframes ldio-qlvfxsm57yf {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
  }
  .ldio-qlvfxsm57yf > div > div {
    transform-origin: 100px 100px;
    animation: ldio-qlvfxsm57yf 3.0303030303030303s linear infinite;
    opacity: 0.8
  }
  .ldio-qlvfxsm57yf > div > div > div {
    position: absolute;
    left: 30px;
    top: 30px;
    width: 70px;
    height: 70px;
    border-radius: 70px 0 0 0;
    transform-origin: 100px 100px
  }.ldio-qlvfxsm57yf > div div:nth-child(1) {
    animation-duration: 0.7575757575757576s
  }
  .ldio-qlvfxsm57yf > div div:nth-child(1) > div {
    background: #93dbe9;
    transform: rotate(0deg);
  }.ldio-qlvfxsm57yf > div div:nth-child(2) {
    animation-duration: 1.0101010101010102s
  }
  .ldio-qlvfxsm57yf > div div:nth-child(2) > div {
    background: #689cc5;
    transform: rotate(0deg);
  }.ldio-qlvfxsm57yf > div div:nth-child(3) {
    animation-duration: 1.5151515151515151s
  }
  .ldio-qlvfxsm57yf > div div:nth-child(3) > div {
    background: #5e6fa3;
    transform: rotate(0deg);
  }.ldio-qlvfxsm57yf > div div:nth-child(4) {
    animation-duration: 3.0303030303030303s
  }
  .ldio-qlvfxsm57yf > div div:nth-child(4) > div {
    background: #3b4368;
    transform: rotate(0deg);
  }
  .loadingio-spinner-wedges-8b9mfc029s {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
  }
  .ldio-qlvfxsm57yf {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-qlvfxsm57yf div { box-sizing: content-box; }